.app-home-container {
}

.video-list-container {
}

.video-thumbnail {
}

.img-thumbnail-zoom {
    width: 256px;
    height: 256px;
    transition: transform .2s;
}

.img-thumbnail-zoom:hover {
    transform: scale(1.1);
}